<%= render 'header' %>
<%= render_admin_partials(:order_page_header_partials, order: @order) %>

<% @operator = try_spree_current_user.spree_roles.pluck(:name).include?('operator')%>

<div class="container px-0">
  <div class="row">
    <div class="col-lg-8">
      <%= render 'tracking_image' %>
      <%= render 'quick_actions' %>
      <%= render 'line_items' %>
      <% render 'shipments' %>
      <%= render 'customer_returns' %>
      <%= render 'return_authorizations' %>
      <%= render 'payments'%>
      <%= render 'refunds'%>
      <%= render 'adjustments', adjustments: @order.all_adjustments, title: Spree.t(:order_adjustments) %>
      <%= render_admin_partials(:order_page_body_partials, order: @order) %>
      <% if @order.line_items.sum(:quantity) <= 2 %>
        <div class="alert alert-warning d-flex align-items-center mb-4" role="alert">
          <i class="fa fa-exclamation-triangle mr-3" style="font-size: 1.5rem;"></i>
          <div>
            <strong>PEDIDO AL DETAL</strong> — Recuerda agregar el ajuste para vender al detal.
          </div>
        </div>
      <% end %>
      <%= render 'summary' %>
    </div>
    <div class="col-lg-4">
      <%= render 'customer' %>
      <%= render 'special_instructions' %>
      <%= render_admin_partials(:order_page_sidebar_partials, order: @order) %>
    </div>
  </div>
</div>
